<a href="https://colab.research.google.com/github/Astir08/CV/blob/main/python_test_iot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Question_1
odd_num = (1,3,5,7,9)

In [2]:
print(*odd_num, sep = "\n")

1
3
5
7
9

In [3]:
#Question_2
total = 0
for x in range(0, len(odd_num)):
    total = total + odd_num[x]
print(total)

25

In [4]:
odd = odd_num[::-1]

In [5]:
even_num = (2,4,6,8,10)

In [6]:
#Question_3a
print(odd)

(9, 7, 5, 3, 1)

In [13]:
#Question_3b
even = []
for value in even_num:
  even = [value] + even
  print(even)

[2]
[4, 2]
[6, 4, 2]
[8, 6, 4, 2]
[10, 8, 6, 4, 2]

In [33]:
#Question_5
even_1 = list(set(even_num))
even_1.sort()

if input("Enter any number") == even_1.sort():
  print('its second highest')
else:
  print(even_1[-2])

Enter any number8
8

In [38]:
string0 = ('Ahmad', 'Abu_Bakar', 'Umar', 'Usman', 'Ali')

In [41]:
#Question_6
strg=list(string0)
print(strg)

strg0=sorted(strg)
a_str=''.join(strg0)
print(strg0)

strg1=sorted(strg, reverse =True)
strg1=''.join(strg1)
print(strg1)

['Ahmad', 'Abu_Bakar', 'Umar', 'Usman', 'Ali']
['Abu_Bakar', 'Ahmad', 'Ali', 'Umar', 'Usman']
UsmanUmarAliAhmadAbu_Bakar

In [49]:
#Question_7
from collections import OrderedDict

def remove_duplicate(s):
    return "".join(OrderedDict.fromkeys(s))

s="abcfgbsca"
print("After removing duplicates: ",remove_duplicate(s))

After removing duplicates:  abcfgs

In [51]:
#Question_10
ls1 = [1,3,5,7,9]
ls2 = [2,4,6,8,10]
ls1.extend(ls2)
print(ls1)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [66]:
#Question_4
import array
arr = []
n = int(input("enter size of array : "))
for x in range(n):
    x=int(input("enter element of array : "))
    arr.append(x)
sorted_array = sorted(array.array('i', arr))
for i in range(len(arr)-1, 0, -1):
    if sorted_array[i]!=sorted_array[i-1]:
        print(f"First two largest element of array is {sorted_array[i-1]} and {sorted_array[i]}")
        break

enter size of array : 10
enter element of array : 9
enter element of array : 5
enter element of array : 10
enter element of array : 9
enter element of array : 85
enter element of array : 8
enter element of array : 5
enter element of array : 4
enter element of array : 6
enter element of array : 8
First two largest element of array is 10 and 85

In [68]:
#Question_8
c = 'a'

if c == 'a' or c == 'e' or c == 'i' or c == 'o' or c == 'u' or c == 'A' or c == 'E' or c == 'I' or c == 'O' or c == 'U':
    print(c, "is a vowel")
else:
    print(c, "is a consonant")

a is a vowel

In [69]:
#Qustion_9
num = 7

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040